torch
torchvision
flash_attn
timm
albumentations
onnx
onnxruntime
pycocotools
PyYAML
scipy
onnxslim
onnxruntime-gpu
gradio
opencv-python
psutil
py-cpuinfo
huggingface-hub
safetensors
numpy
pandas
matplotlib
seaborn